#product-overview {
  background: linear-gradient(to top, rgba(216, 186, 67, 0.6) 10%, transparent),
    url("images/freedom.jpg") left 20% bottom 70% / cover no-repeat border-box,
    red;
  width: 100wh;
  height: 33vh;
  margin-top: 2.75rem;
  position: relative;
  /*background-image: linear-gradient(to left bottom,  red, yellow,  green);*/
  /*background-image: radial-gradient(circle, red, blue);*/
}
.section-title {
  color: #2ddf5c;
  font-family: inherit;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 2rem;
  /*margin-top: 432px;*/
}
h1 {
  font-family: inherit;
}

.main-title {
  background-color: white;
  color: #168a35;
  padding: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.plan__list {
  width: 100%;
  margin: auto;
  text-align: center;
}
.plans {
  background-color: #d5ffdc;
  text-align: center;
  border: 1rem;
  padding: 1rem;
  text-decoration: none;
  display: inline-block;
  margin: 0.6rem;
  width: 30%;
  vertical-align: middle;
}
.highlight {
  background-color: #168a35;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.period {
  color: #9e9497;
}
.black {
  color: rgb(49, 48, 48);
}

.offers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.offers li {
  margin: 0.3rem 0;
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1.2rem;
}
#key-features .section-title {
  color: white;
  margin: 2rem;
}
.key-features__element {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.key-features__list {
  margin: 0;
  padding: 0;
  text-align: center;
}
.key-features__image {
  background-color: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
  padding: 1.2rem;
}
.key-features-description {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}
