#product-overview {
  background: linear-gradient(to top, rgba(216, 186, 67, 0.6) 10%, transparent),
    url("images/freedom.jpg") center / cover no-repeat border-box, red;
  width: 100vw;
  height: 33vh;

  position: relative;
  /*background-image: linear-gradient(to left bottom,  red, yellow,  green);*/
  /*background-image: radial-gradient(circle, red, blue);*/
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 2rem;
  font-size: 1.6rem;
  /*margin-top: 432px;*/
}
@media (min-width: 40rem) and (min-height: 50rem) {
  #product-overview {
    height: 40rem;
    background-position: 50% 25%;
  }
  #product-overview h1 {
    font-size: 3rem;
  }
}
/*@media (min-width: 60rem) {
  #product-overview {
    height: 50rem;
    background-position: 50% 25%;
  }
  #product-overview h1 {
    font-size: 5rem;
  }
}*/
.section-title {
  color: #2ddf5c;
  font-family: inherit;
  text-align: center;
}

h1 {
  font-family: inherit;
}

.main-title {
  background-color: white;
  color: #168a35;
  padding: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.plans {
  background-color: #d5ffdc;
  text-align: center;
  border: 1rem;
  padding: 1rem;
  text-decoration: none;
  margin: 0.5rem 0;
  width: 100%;
}
.highlight {
  background-color: #168a35;
  color: white;
}
@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    text-align: center;
  }
  .plans {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
  }
  .highlight {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}
.period {
  color: #9e9497;
}
.black {
  color: rgb(49, 48, 48);
}

.offers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.offers li {
  margin: 0.3rem 0;
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1.2rem;
}
#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-features__list {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 40rem) {
  .key-features__element {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    max-width: 25rem;
  }
}
.key-features__image {
  background-color: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
  padding: 1.2rem;
}
.key-features-description {
  text-align: center;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}
