@font-face {
  src: url("AnonymousPro-Regular.ttf");
}
@font-face {
  src: url("AnonymousPro-Regular.ttf");
}
main {
  padding-top: 2rem;
}
.background {
  background: url(../images/plans-background.jpg) center/cover;
  filter: grayscale(50%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
.package {
  border: 3px solid #0e4f1f;
  border-left: none;
  margin: 1rem 0;
  width: 80%;
  position: relative;
}
.package:hover,
.package:active {
  border: 3px solid blue;
  width: 90%;
}
.package a {
  text-decoration: none;
  text-align: inherit;
  display: block;
  padding: 3rem 2rem;
}
.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  font-size: 0.8rem;
  color: white;
  background-color: red;
  padding: 0.5rem;
  border-radius: 6%;
}
.clearfix {
  clear: both;
}
#plus {
  background-color: rgba(159, 233, 172, 0.95);
}

#free {
  background-color: rgba(234, 252, 237, 0.95);
  margin: 1rem 0;
  float: right;
  border-right: none;
  border-left: 3px solid #0e4f1f;
  text-align: right;
}
#free:hover,
#free:active {
  border-left: 3px solid blue;
}

.package .package__subtitle {
  color: #9c9494;
}
.package__info {
  background-color: #f1efef;
  color: #0d4f1f;
  padding: 1rem;
  border: 2px solid #0d4f1f;
  font-size: 1.2rem;
}
#premium {
  background-color: rgb(14, 79, 31, 0.95);
  border: 3px solid white;
  border-left: none;
}
#premium .package__title {
  color: white;
}
#premium .package__subtitle {
  color: #bbb;
}
#premium .package__info {
  border: 2px solid black;
}
#premium:hover,
#premium:active {
  border: 3px solid blue;
}
@media (min-width: 40rem) {
  main {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1500px) {
  .package {
    border-left: 3px solid #0e4f1f;
  }
  #free {
    border-right: 3px solid #0e4f1f;
  }
  #premium {
    border-left: 3px solid white;
  }
  #free:hover,
  #free:active {
    border-right: 3px solid blue;
  }
}
